.MainSlider {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  gap: 26px;

  .MainSlider_Container {
     background-color: #99E4EE;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .MainSlider_Slider {
        white-space: nowrap;
        transition: ease .1s;
      .slide {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 500px;
        border-radius: 5px;
        img {
        height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          image-rendering: high-quality;
        }
      }
    }
  }
  .SliderDots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    .SliderDots_Dots {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      cursor: pointer;
      background-color: #CDD5E1;
      border: 1px solid #CDD5E1;
      &.active {
        width: 15px;
        background: #00BCD4;
        border-radius: 14px;
        border: 1px solid #00BCD4;
      }
    }
  }

}

