.MainProducts {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  gap: 24px;
}

.MainProducts_Header {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #1B1D28;
}

.MainProducts_Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:24px;
  .Product {
    flex: 0 1 23%;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
    border-radius: 5px;

    .Product_ImgHolder {
      position: relative;
      overflow: hidden;
      .BasketICon {
        position: absolute;
        cursor: pointer;
        right: 15px;
        top: 14px;

      }
      .Add_Information {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 4px 8px;
        gap: 10px;
        bottom: 12px;
        left: 12px;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(1.5px);
        border-radius: 5px;
        font-family: 'Avenir', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 24px;
        color: #101010;
        cursor: pointer;
      }
      img {
        max-width: 100%;
        width: 100%;
        height: 200px;
        object-fit: cover;
        white-space: nowrap;
        image-rendering: auto;
        object-position: center;
      }
    }

    .Product_Description {
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .Product_Title {
        font-family: 'Avenir', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 24px;
        color: #76777E;
      }
      .Product_Cost {
        display: flex;
        justify-content: space-between;
        font-family: 'Avenir', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 24px;
        color: #1B1D28;
        div {
          display: flex;
          gap: 9px;
          align-items: center;
        }
      }

      .Product_Footer {
        font-family: 'Avenir', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #76777E;
      }
    }
  }
}